CLIENT_ID=ABC1234
REDIRECT_URI=http://localhost:53682/callback
# DB: MySQL Beispiel
DATABASE_URL=mysql+pymysql://user:pass@localhost:3306/deine_db
# optional: Poll-Intervall in Minuten
POLL_MINUTES=5
GATEWAY_SERIAL=123
DEVICE_ID=0
